{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<style>
    p {
        font-family: 'Lato', sans-serif;
    }

    #h1Main {
        color: red;
        font-family: 'Nunito Sans', sans-serif;
    }
</style>
{% endblock head %}

{% block title %}
Error
{% endblock title %}

{% block body %}
<div class="container text-center my-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" id="h1Main">Error</h1>
            <h1 class="display-4">✋</h1>
            <p class="lead">This is the reason</p>
            <button type="button" class="btn btn-success">Click to fix</button>
        </div>
    </div>
</div>
{% endblock body %}