{% extends 'base.html' %}

{% block title %}
OTP
{% endblock title %}

{% block body %}
<div class="container my-3 text-center">
    <form method="POST" action="/forgot/otpcheck/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1"><b>Enter the OTP</b></label>
            <input type="password" class="form-control" id="otp" name="otp">
            <input type="text" name="mail" value="{{mail}}" hidden>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock body %}