{% extends 'base.html' %}

{% block title %}
Note Book
{% endblock title %}

{% block body %}
<div class="container text-center my-3">
    {% for note in notes %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{note.noteName}}</h1>
            <p class="lead">
            {{note.about}} <br>
            <strong>Teachers:- </strong>{{note.teachers}} <br>
            <strong>Created on:- </strong>{{note.dateTime}}
            </p>
            <button type="button" class="btn btn-success btn-lg">Read</button>
            <button type="button" class="btn btn-primary btn-lg">Edit</button>
            <button type="button" class="btn btn-danger btn-lg">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}