{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock head %}

{% block title %}
Note Book
{% endblock title %}

{% block body %}

{% if newNote %}
<div class="container my-2">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Added!</strong> Your <strong>{{noteName}}</strong> notebook added.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}

<div class="container my-3 text-center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Add
        New</button>
    <button type="button" class="btn btn-success btn-lg">
        <img src="{% static 'img/user.png' %}" alt="" srcset="" width="30px"> Profile
    </button>
    <hr>
</div>
<div class="container text-center my-3">
    {% if nothing %}
    <div class="alert alert-danger" role="alert">
        Opps🤷‍♂️ there is nothing to show.
    </div>
    {% endif %}

    {% for note in notes %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{note.noteName}}</h1>
            <p class="lead">
                {{note.about}} <br>
                <strong>Teachers:- </strong>{{note.teachers}} <br>
                <strong>Created on:- </strong>{{note.dateTime}} <br>
                <strong>Last edit on:- </strong>{{note.lastDateTime}}
            </p>
            <button onclick="location.href='/read/{{note.slug}}'" type="button"
                class="btn btn-success btn-lg">Read</button>
            <button onclick="location.href='/edit/{{note.slug}}'" type="button"
                class="btn btn-primary btn-lg">Edit</button>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                data-target="#confirmModal">Delete</button>
        </div>
    </div>

    <div id="confirmModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this entry? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button onclick="location.href='/delete/{{note.slug}}'" type="button"
                        class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Note Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">Book Name</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="book">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">About</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="about">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Teacher's Name</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="teacher">
                    </div>
                    <div class="container text-center">
                        <button type="submit" class="btn btn-primary text-center">Add Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock body %}