{% extends 'base.html' %}

{% block title %}
Note Book
{% endblock title %}

{% block body %}
<div class="container text-center my-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Subject Name</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, quasi?</p>
            <button type="button" class="btn btn-success btn-lg">Read</button>
            <button type="button" class="btn btn-primary btn-lg">Edit</button>
            <button type="button" class="btn btn-danger btn-lg">Delete</button>
        </div>
    </div>
</div>
{% endblock body %}