{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block script %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock script %}

{% block body %}
<div class="container mt-3 text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if isPic %}
            {% load static %}
            {% static 'userImage' as baseUrl %}
            <img src="{{baseUrl}}/{{userName}}" id="userImage" alt="Can't Fetch">
            {% endif %}
            <h3><b>Name:-{{allInfo.name}}</h3>
            <h3><b>Mail:-{{allInfo.mail}}</b></h3>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nameModal">Change
                    Name</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#passModal">Change
                    Password</button>
                {% if isPic %}
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#picModal">Update
                    Image</button>
                {% else %}
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#picModal">Add
                    Image</button>
                {% endif %}
                <button type="button" class="btn btn-danger" onclick="window.location.href = '/logout'">Logout</button>
            </div>
        </div>
    </div>
</div>

<!--Change Name Modal -->
<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nameModalLabel">Change Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/changeName">
                    {% csrf_token %}
                    <h6>Current Name:-{{allInfo.name}}</h6>
                    <hr>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Enter New Name</label>
                        <input type="text" class="form-control" id="newName" name="newName">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Change Password Modal -->
<div class="modal fade" id="passModal" tabindex="-1" aria-labelledby="passModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/changePassword">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">Current Password</label>
                        <input type="password" class="form-control" id="currentPass" name="currentPass">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">New Password</label>
                        <input type="password" class="form-control" id="newPass" name="newPass"
                            aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Chose a strong Password</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="newConPass" name="newConPass">
                        <small id="emailHelp" class="form-text text-muted">Password & Confirm Password Must be
                            same</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Profile Pic Modal -->
<div class="modal fade" id="picModal" tabindex="-1" aria-labelledby="picModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="picModalLabel">Change Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/uploadPic" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Select your picture</label>
                        <input type="file" class="form-control-file" id="profilePic" name="profilePic">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}