{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block body %}
<div class="container mt-3 text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3><b>Mail:-Debatashaktiranjan@gmail.com</h3>
            <h3><b>Name:-Debatashaktiranjan@gmail.com</b></h3>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary">Change Name</button>
                <button type="button" class="btn btn-success">Change Password</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href = '/logout'">Logout</button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}