{% extends 'base.html' %}

{% block title %}
{{notes.noteName}}
{% endblock title %}

{% block body %}
<div class="container my-3">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title"><strong>{{notes.noteName}}</strong></h1>
            <p class="card-text">{{notes.about}}.</p>
            <h5 class="card-text"><strong>Techers:-</strong> {{notes.teachers}}</h5>
        </div>
        <div class="card-footer text-muted">

            Creted on :- {{notes.dateTime}} <br>
            Last edit on :- {{notes.lastDateTime}} <br>
            <a href="/edit/{{slug}}" type="button" class="btn btn-primary my-2">Edit/Update</a href="/edit/{{slug}}">
        </div>
    </div>
    <div class="card text-center my-2">
        <div class="card-body">
            <p class="card-text">{{notes.content | safe}}</p>
        </div>
    </div>
</div>
{% endblock body %}