{% extends 'base.html' %}

{% block title %}
Reset your password
{% endblock title %}

{% block body %}
<div class="container my-3">
    <h3>Create a strong password</h3>
    <hr>
    <form method="POST" action="/forgot/resetPass/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control" id="newPass" name="newPass">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="newConPass" name="newConPass">
        </div>
        <input type="text" value="{{mail}}" name="mail" hidden>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}