{% extends 'base.html' %}

{% block title %}
Notebook | Share
{% endblock title %}

{% block body %}
<div class="container mt-3">
    <span>Notebook Name:- {{bookName}}</span>
    {% if isPublic %}
    <form method="POST" action="/share/makePrivate">
        {% else %}
        <form method="POST" action="/share/makePublic">
            {% endif %}
            {% csrf_token %}
            <input type="hidden" name="slug" value="{{slug}}">
            {% if isPublic %}
            <span>Current Status:- Public</span> <br>
            <button type="submit" class="btn btn-primary mt-2">Make Private</button>
            <small id="emailHelp" class="form-text text-muted">If you private the note only you can access</small>
            {% else %}
            <span>Current Status:- Private</span> <br>
            <button type="submit" class="btn btn-primary mt-2">Make Public</button>
            <small id="emailHelp" class="form-text text-muted">If you public the note anyone can read this</small>
            {% endif %}
        </form>
</div>
{% endblock body %}