{% extends 'base.html' %}

{% block title %}
Two Factor Auth
{% endblock title %}


{% block body %}

{% if newUser %}
<div class="container text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
        alt="..." width="450px">
    <small id="emailHelp" class="form-text text-muted">Scan the QR Code in your Authenticator App & paste the code
        below.</small>
    <form class="form-inline text-center">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Code</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="12345">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Enable</button>
    </form>
</div>
{% else %}
<div class="container m-2">
    <form class="form-inline text-center">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Code</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="12345">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Login</button>
    </form>
</div>
{% endif %}

{% endblock body %}